<header class="header-left" id="main-nav">
    <div class="brand">
        <a class="logo-photo">
            <img class="logo circle" src="/static/img/william-pickens.jpg" title="William Pickens" alt="William Pickens">
        </a>
        <a class="logo-text" href="/">
            <span>William</span>
        </a>
    </div>
    <ul class="nav the-icons">
        <li>
            <a class="nav-link" href="/">
                <i class="icon-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="/about">
                <i class="icon-id-badge"></i>
                <span>About Me</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="/skills">
                <i class="icon-superpowers"></i>
                <span>Skills</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="/portfolio">
                <i class="icon-code"></i>
                <span>Portfolio</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="/contact">
                <i class="icon-address-card-o"></i>
                <span>Contact</span>
            </a>
        </li>
    </ul>
</header>

<div class="mobile-header">
    <div class="navbar">
        <a class="logo-photo">
            <img class="logo circle" src="/static/img/william-pickens.jpg" title="William Pickens" alt="William Pickens">
        </a>
        <a class="logo-text" href="/">
            William
        </a>
        <button class="toggler-menu the-icons" onclick="toggleMenu()">
            <span class="icon-menu"></span>
        </button>
    </div>
</div>