{% load wagtailimages_tags wagtailcore_tags %}

<h4 class="mb-4">Browse by:</h4>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Cras justo odio</a>
      <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Dapibus ac facilisis in</a>
      <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Morbi leo risus</a>
      <span class="badge badge-primary badge-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Cras justo odio</a>
      <span class="badge badge-primary badge-pill">7</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Dapibus ac facilisis in</a>
      <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Morbi leo risus</a>
      <span class="badge badge-primary badge-pill">9</span>
  </li>
</ul>
